<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SE Widget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Swords Express Watch.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>SwordsExpress.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3D0A170A1F2E4D100051E4F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D0A17201F2E4D100051E4F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D0A172B1F2E4D100051E4F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D9D7E641F4714230066238F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D9D7E821F472B1A0066238F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
