<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.CY-0E8113EA-124F-11E7-B3F4-685B35D2A6E2.com.cydia.Extender</string>
	</array>
</dict>
</plist>
